# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node.js
node_modules/

# Database
instance/business_data.db
backend/instance/

# macOS
.DS_Store

# Test Data
test_data.xlsx
"test_data/" 
"backend/instance/business_data.db" 
*.xlsx

# Scripts
api_test.py
generate_test_data.py 
